<div class="well">
<div class="row">
    <div class="col-md-12">

        <p>&nbsp;</p>
        <h2><i class="fa fa-user"> About Aaron Skudder</i></h2>

        <h3>Short Introduction</h3>
        <div class="row">
            <div class="col-md-3">
                <img src="../images/aaron.jpg" />
            </div>
            <div class="col-md-9">
                <p>After 13 years of running an I.T. company (LlamaTech Ltd) and 4 years working at Rhema Media I am taking the opportunity step back into full time employment or contracting. During my career in I.T. I have built up skills in customer relations and small business management.</p>
            </div>
        </div>

        <h3>Hobbies / Interests outside of work</h3>
        <ul><li>Piano and Bass guitar</li><li>Christianity</li></ul>

        <h3>Testimonials</h3>
        <ul>
            <li>Aaron has always been helpful and went out of his way to assist when our server went down Very good service</li>

            <li>
                <b>David Holden</b> - <i>Holden Health</i>
                <p>Aaron’s service is always prompt - which in our industry (as with most I imagine) is a big asset.</p>
            </li>
            <li>
                <b>Jill</b> - <i>MWC Media</i>
                <p>Very good explanation of what was going on with computer, and what was needed</p>
            </li>
            <li>
                <b>Anonymous</b>
                <p>Always helpful and friendly. Just keep doing what you do and I will be happy.</p>
            </li>

            <li>
                <b>Anonymous</b>
                <p>Professional service, good rates Thanks for the prompt and no fuss service.</p>
            </li>
            <li>
                <b>Alex Dawber</b> <i>Harmony Trust</i>
                <p>"Aaron you rock" hardly ever do you find a great bargain with great product (Apple). Fantastic Computer Technician, super trade with brilliant Service support, brilliant product's what more could you ask for. Would definitely trade again. Recommend to all AAAA+++++</p>
            </li>
        </ul>
        <h3>Referees</h3>
        <p>Abdulfarooq_ar@yahoo.co.in Mohammed Abdul Rahman 021786884</p><p></p>
    </div>
</div>
</div>