<div class="topbar clearfix">
       <%- include topbar.ejs -%>
</div>
<header class="header">
<%- include header.ejs-%>
</header>
<!-- <section class="section1">
    <div class="container">
        <div>
            <h4>Aaron Skudder</h4>
        </div>
    </div>
</section>   -->
<div class="container">
    <app-root></app-root>
    <hr>
</div>
<div class="dmtop">Scroll to Top</div>
<!-- /.container -->