<div class="well">
        <div>
            <i class="fa fa-address-card"><span class="strong"> Contact Aaron Skudder</span></i>
        </div>
</div>
        <div class="col-md-6">
            <div class="well">
                <form method="post" name="contactForm">
                    <div asp-validation-summary="ModelOnly"></div>
    
                    <div class="form-group">
                        <label asp-for="Name">Your Name:</label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Email">Email:</label>
                        <input type="email" asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Subject">Subject:</label>
                        <input type="text" asp-for="Subject" class="form-control" />
                        <span asp-validation-for="Subject" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Message">Message:</label>
                        <textarea rows="4" asp-for="Message" class="form-control"></textarea>
                        <span asp-validation-for="Message" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-lg" ng-click="submit()"><i class="fa fa-envelope"></i> Send Message</button>
                        <!-- <div class="text-success">Message Sent</div> -->
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-6">
            <div class="well">
                <div class="Address">
                    <h4>Home Address</h4>
                    <address>
                        1f 21 St Jude St<br />
                        Avondale<br />
                        <i class="fa fa-phone"> 09 8203293</i><br />
                        <i class="fa fa-mobile"> 027 274 8743</i><br/>
                        <i class="fa fa-envelope"><strong>Email:</strong><a href="mailto:aaron@aaronskudder.com"> aaron@aaronskudder.com</a></i><br />
                        <i class="fa fa-facebook"><a href="https://www.facebook.com/LlamaTech-Ltd-215663481830002/"> Facebook</a></i>
                    </address>
                </div>
            </div>
        </div>
