<div class="container">
        <div class="site-header clearfix">
          <div class="col-lg-3 col-md-3 col-sm-12 title-area">
            <div class="site-title" id="title">
              <a href="index.html" title="">
                <h4>Aaron<span>Skudder</span></h4>
              </a>
            </div>
          </div>
          <!-- title area -->
          <div class="col-lg-9 col-md-12 col-sm-12">
            <nav class="navbar navbar-inverse navbar-fixed-top">
              <div class="container clearfix">
                <ul class="nav navbar-nav">
                        <li class="active"><a href="Home">Home</a></li>
                        <li><a href="About">About</a></li>
                        <li><a href="Contact">Contact</a></li>
                        <li><a href="~/images/Aaron Skudder CV.pdf" i class="fa fa-address-card pull-right"> CV</a></li>
            </ul>
              </div>
            </nav>
            <!-- nav -->
          </div>
          <!-- title area -->
        </div>
        <!-- site header -->
      </div>
      <!-- end container -->