<div class="container">
        <div class="site-header clearfix">
          <div class="col-lg-3 col-md-3 col-sm-12 title-area">
            <div class="site-title" id="title">
              <a href="index.html" title="">
                <h4>Aaron<span>Skudder</span></h4>
              </a>
            </div>
          </div>
          <!-- title area -->
          <div class="col-lg-9 col-md-12 col-sm-12">
            <nav class="navbar navbar-inverse navbar-fixed-top">
              <div class="container clearfix">
                <ul class="nav navbar-nav">
                  <li class="active"><a href="index.html">Home</a>
                  </li>
                  <li><a href="#">Pages</a>
                  </li>
                  <li><a href="#">Shop</a>
                  </li>
                  <li><a href="#">Portfolio</a>
                  </li>
                  <li><a href="#">Blog</a>
                  </li>
                </ul>
              </div>
            </nav>
            <!-- nav -->
          </div>
          <!-- title area -->
        </div>
        <!-- site header -->
      </div>
      <!-- end container -->